DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Requests für existierende Dateien/Verzeichnisse direkt bedienen
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Alles andere an index.php weiterleiten
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>
